html , body{
	padding: 0;
	margin: 0;
	border:0;
}

body{
	background-color: grey;
}
#art{

margin: auto;
width: 80%;
height: 100%;
font-family: sans-serif;
font-color:white;

text-align: center;
}

.img-container{

	margin: auto;
	width: 100%;
	height: 100%;
	position: relative;
}

.img-grid{

margin: auto;
height: 400px;
width: 400px;
display: inline-block;
padding: 0;



}

.img{
	display: inline-block;
	margin: 1px;
	
	float: left;

}
img{
	height: 120px;
	width: 120px;
	border:2px solid white;
	cursor: url(magnifier.png),auto;
}

 .preview
{
position: absolute;
top:-50px;
left:330px;
z-index:100;
}

 .preview img{
	
	width: 450px;
	height: 350px;
	border:2px solid white;
	display: block;
}